/Proyect1/nbproject/private/
/Proyect1/build/
/Ejercio2/nbproject/private/
/Ejercio2/build/
/Entradadatos/nbproject/private/
/Entradadatos/build/
/Ventanaemergente/target/
/ventanalaborales/target/
/asignacio/target/
/Libreriamath/target/
/Suma3numero/target/
/Promediosalarial/target/
/bloqueOperador/target/
/bloqOperadores2/target/
